.admin {
  display: flex;
  justify-content: space-evenly;
}

.admin > div {
  flex: 1;
}
.list-head {
  display: flex;
}
.admin-mode .icons {
  cursor: pointer;
}
.admin-mode .dept-name {
  display: flex;
  justify-content: center;
}
.admin-mode > .dept-name {
  flex: 8;
}

.admin-tabs > div {
  width: 300px;
  margin: auto;
}
.form {
  max-width: 500px;
  margin: auto;
}
form input,
form select,
form button {
  width: 300px;
  height: 30px;
}

form input::placeholder {
  font-size: 18px;
  padding-left: 100px;
}

.icons {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* media queriies */
@media only screen and (max-width: 600px) {
  .admin {
    flex-direction: column;
  }
  .admin-form > form {
    width: 300px;
    margin: auto;
  }
  .admin-tabs {
    margin-bottom: 50px;
  }
}
